<ion-side-menus>
    <ion-side-menu-content>
        <ion-content align="center" padding="false" scroll="false">
            <img src="http://gartic.com.br/imgs/mural/ne/never_lady/pizza.png">
        </ion-content>
        <ion-footer-bar align-title="center">
            <div class="button-bar">
                <a class="button button-assertive">Cancelar</a>
                <a class="button button-positive">Avançar</a>
            </div>
        </ion-footer-bar>
    </ion-side-menu-content>
    <ion-side-menu side="right" expose-aside-when="(min-width:1px)">
        <ion-content padding="false" scroll="true">
            <div class="list">
                <div class="item item-divider">
                    Tipo da massa
                </div>
                <label class="item item-radio">
                    <input type="radio" name="massa">
                    <div class="item-content">Tradicional</div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="massa">
                    <div class="item-content">Integral</div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <div class="item item-divider">
                    Espessura da massa
                </div>
                <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">Tradicional</div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">Fina</div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>